[Desktop Entry]
Version=1.0
Type=Application

Name=Simple Package Tracker
Comment=Track your packages from multiple carriers
Categories=Utility;GTK;

Icon=io.github.alrick.simple_package_tracker
Exec=simple-package-tracker
Terminal=false
StartupNotify=true
